<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../_css/style.css"/>
    <meta charset="utf-8">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" type="imagem/png" href="icon-512x512.png" />
    <link rel="apple-touch-icon" type="imagem/png" href="icon-512x512.png" />
    <link rel="shortcut icon" type="imagem/png" href="icon-512x512.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
    <h1>Page 2</h1>

    <div>
        <a class="button" href="/">Page 1</a>
        <a class="button" href="/page2">Page 2</a>
        <a class="button" href="/page3">Page 3</a>
        <a class="button" href="/page4">Page 4</a>
    </div>

    <h2>
        Mussum Ipsum
    </h2>
    <p>
        Mussum Ipsum, cacilds vidis litro abertis.  Atirei o pau no gatis, per gatis num morreus. Diuretics paradis num copo é motivis de denguis. Delegadis gente finis, bibendum egestas augue arcu ut est. Cevadis im ampola pa arma uma pindureta.   
    </p>
    <h2>
        Mussum Ipsum
    </h2>
    <p>
        Mussum Ipsum, cacilds vidis litro abertis.  Atirei o pau no gatis, per gatis num morreus. Diuretics paradis num copo é motivis de denguis. Delegadis gente finis, bibendum egestas augue arcu ut est. Cevadis im ampola pa arma uma pindureta.   
    </p>

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('generate-sw.js');
        }
    </script>
</body>
</html>